/**
 * Copyright (c) {{ year }} Hansalim<br>
 * All rights reserved.<br>
 */

package hslim2.portal.func.{{ business_module }}.{{ sub_module }}.controller;

import javax.servlet.http.HttpServletRequest;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestMapping;

import fo.core.common.FrameOneConstants;
import fo.core.model.Parameters;
import fo.core.model.ParametersAndView;
import fo.core.model.factory.ParametersFactory;
import hslim2.portal.func.{{ business_module }}.{{ sub_module }}.service.{{ screen_id }}Service;

/******************************************************************
 * <pre>
 * <b>Description  : {{ screen_title }} Controller</b>
 * package  : hslim2.portal.func.{{ business_module }}.{{ sub_module }}.controller
 * </pre>
 *
 * @author   : {{ author }}
 * @version  : 1.0
 * <pre>
 * Modification Information
 *    수정일            수정자                   수정내용
 * ------------   ------------------   ----------------------------
 *  {{ date }}    {{ author }}          최초생성
 * </pre>
 * *******************************************************************/

@Controller
@RequestMapping(value = "/portal/func/{{ business_module }}/{{ sub_module }}/{{ screen_id }}")
public class {{ screen_id }}Controller {

    @Autowired
    private {{ screen_id }}Service service;

    /**
     * {{ screen_title }} 화면 페이지 로드
     * @param inParams 입력 파라미터
     * @param request HTTP 요청 객체
     * @return ParametersAndView 화면 정보와 파라미터
     */
    @RequestMapping(value = "/page")
    public ParametersAndView page(Parameters inParams, HttpServletRequest request) {
        Parameters outParams = ParametersFactory.createParameters(inParams);

        ParametersAndView pav = new ParametersAndView(FrameOneConstants.VIEW_PREFIX_CONTENTS + "portal/{{ business_module }}/{{ sub_module }}/{{ screen_id }}");
        pav.setParameters(outParams);
        return pav;
    }
{% if ui_type == 'type2' %}

    /**
     * 마스터 목록 조회
     * @param inParams 입력 파라미터 (검색 조건: {% for field in search_fields %}{{ field.label }}{% if not loop.last %}, {% endif %}{% endfor %})
     * @return Parameters 조회 결과 데이터셋
     */
    @PostMapping(value = "/searchMaster")
    public Parameters searchMaster(Parameters inParams) {
        return service.selectMasterList(inParams);
    }

    /**
     * 디테일 목록 조회
     * @param inParams 입력 파라미터
     * @return Parameters 조회 결과 데이터셋
     */
    @PostMapping(value = "/searchDetail")
    public Parameters searchDetail(Parameters inParams) {
        return service.selectDetailList(inParams);
    }
{% else %}

    /**
     * {{ screen_title }} 조회
     * @param inParams 입력 파라미터 (검색 조건: {% for field in search_fields %}{{ field.label }}{% if not loop.last %}, {% endif %}{% endfor %})
     * @return Parameters 조회 결과 데이터
     */
    @PostMapping(value = "/search")
    public Parameters get{{ screen_id }}(Parameters inParams) {
        return service.get{{ screen_id }}(inParams);
    }
{% endif %}
{% if detail_crud_enabled %}

    /**
     * 디테일 데이터 저장 (생성/수정/삭제)
     * @param inParams 입력 파라미터 (데이터셋: ds_detail)
     * @return Parameters 저장 결과
     */
    @PostMapping(value = "/save")
    public Parameters save(Parameters inParams) {
        return service.saveDetail(inParams);
    }
{% elif 'C' in crud_type or 'U' in crud_type or 'D' in crud_type %}

    /**
     * {{ screen_title }} 저장
     * @param inParams 입력 파라미터 ({% if ui_type == 'type2' %}데이터셋: ds_detail{% else %}form 데이터 + saveMode{% endif %})
     * @return Parameters 저장 결과
     */
    @PostMapping(value = "/save")
    public Parameters save{{ screen_id }}(Parameters inParams) {
        return service.save{{ screen_id }}(inParams);
    }
{% if 'D' in crud_type and ui_type != 'type2' %}

    /**
     * {{ screen_title }} 삭제
     * @param inParams 입력 파라미터 ({{ grid_columns[0].field }})
     * @return Parameters 삭제 결과
     */
    @PostMapping(value = "/delete")
    public Parameters delete{{ screen_id }}(Parameters inParams) {
        return service.delete{{ screen_id }}(inParams);
    }
{% endif %}
{% endif %}

}
