<!DOCTYPE html>
<%@ taglib prefix="tiles" uri="http://tiles.apache.org/tags-tiles" %>
<!--
    @id      : {{ screen_id }}.jsp
    @title   : {{ screen_title }}
    @author  : {{ author }}
    @version : {{ date }}
    @상세설명  : {{ business_module_upper }} > {{ sub_module }} > {{ screen_title }}
 -->

<div class="content-wrapper gap-y-3">
    <header class="content-header">
        <section class="p-3 xy-between">
            <div class="xy-center">
                <button type="button" class="btn-favToggle mr-1"><i class="icon-m favorite"></i><em class="sr-only">즐겨찾기</em></button>
                <h1 class="content-header--title" id="pageTitle"></h1>
                <button type="button" class="ctn-btn-sm ctn-btn--secondary text-xs ml-1" id="titleHelp" name="titleHelp">도움말</button>
            </div>
            <div class="control-bar page-button" id="pageButton"></div>
        </section>
        <!----------------------- 업무영역 start     --------------------->
        <form name="searchForm" id="searchForm" method="post" action="" onsubmit="return false" data-oldheight="90">
            <section class="option-group p-3 grid-col-4">
{% for field in search_fields %}

                <!-- {{ field.label }} -->
                <div class="option">
                    <label for="{{ field.field }}" class="label">{{ field.label }}</label>

                    <input type="text" class="option-input w-ch-10" name="{{ field.field }}" id="{{ field.field }}" maxlength="50">

                </div>
{% endfor %}

            </section>
        </form>
        <!----------------------- 업무영역 end     --------------------->
    </header>
    <!----------------------- 메인 content start     --------------------->
    <main class="content-container">
        <!---- 첫번째 섹션 ------>
        <section class="flex-1 table-y">
            <nav class="ctn-contents_nav">
                <div class="xy-center">
                    <h2 class="ctn-contents_title mr-2-5">{{ screen_title }} 목록</h2>
                    <span id="master_cnt" class="badge badge-secondary">0건</span>
                </div>
{% if 'C' in crud_type or 'D' in crud_type %}
                <div class="flex">
{% if 'C' in crud_type %}
                    <button type="button" class="ctn-btn-sm ctn-btn--bd-gray" onclick="fn_addRow()">
                        <i class="ico-plus"></i>행추가
                    </button>
{% endif %}
{% if 'D' in crud_type %}
                    <button type="button" class="ctn-btn-sm ctn-btn--bd-gray ml-2-5" onclick="fn_deleteRow()">
                        <i class="ico-minus"></i>행삭제
                    </button>
{% endif %}
                </div>
{% endif %}
            </nav>
            <div id="grid-box" class="h-full">
                <div id="divGrdMst" class="table-wrapper h-full"></div>
            </div>
        </section>
    </main>
    <!----------------------- 메인 content end     --------------------->
</div>

<script type="text/javascript" src="${staticPath}/{{ business_module }}/{{ sub_module }}/<tiles:getAsString name='contents_name' />.js"></script>